
@{
    ViewData["Title"] = "Login";
}

<h1>Giriş</h1>

<form action="#">
	<div class="mt-10">
		<input type="text" name="first_name" placeholder="Lütfen kullanıcı adını giriniz..."
			   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Lütfen kullanıcı adını giriniz...'" required
			   class="single-input">
	</div>
	<div class="mt-10">
		<input type="text" name="password" placeholder="Lütfen kullanıcı şifresini giriniz..."
			   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Lütfen kullanıcı şifresini giriniz...'" required
			   class="single-input">
	</div>

	<div class="mt-10">
		<input type="email" name="EMAIL" placeholder="Lütfen e-postanızı giriniz..."
			   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Lütfen e-postanızı giriniz...s'" required
			   class="single-input">
	</div>
	<div class="form-group mt-3">
		<button type="submit" class="button button-contactForm boxed-btn">Gİrİş</button>
	</div>

</form>
