
@{
    ViewData["Title"] = "Register";
}

<h1>Kayıt Ol</h1>


<form action="#">
	<div class="mt-10">
		<input type="text" name="first_name" placeholder="Lütfen kullanıcı adını giriniz..."
			   onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
			   class="single-input">
	</div>
	<div class="mt-10">
		<input type="text" name="password" placeholder="Lütfen kullanıcı şifresini giriniz..."
			   onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
			   class="single-input">
	</div>

	<div class="mt-10">
		<input type="email" name="EMAIL" placeholder="Lütfen e-postanızı giriniz..."
			   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
			   class="single-input">
	</div>
	<div class="form-group mt-3">
		<button type="submit" class="button button-contactForm boxed-btn">Kayıt Ol</button>
	</div>

</form>
